<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="../images/favicon-16x16.png">
  <title>Todo today!</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Catamaran|Lato:400i" rel="stylesheet">

  <link rel="stylesheet" href="../stylesheets/app.css">

</head>

<body>

  <section>
    <nav>
      <ul>
        <% if(!currentUser){ %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Sign Up</a></li>
        <%}else{%>

        <li>Signed in as <%= currentUser.username %></li>
        <li><a href="/logout">Log Out</a></li>
        <% } %>

      </ul>
    </nav>
  </section>