<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODO List</title>
  <link rel="stylesheet" href="../stylesheets/app.css">

</head>

<body>

  <!-- add new todo -->
  <form action="/todo" method="POST">
    <input type="text" name="todo[text]" id="" placeholder="Todo" required>
    <input type="submit" value="submit">
  </form>

  <h1>Todos for today</h1>

  <% todos.forEach(function(todo){%>
  <ul>


    <form action=" /todo/delete/<%=todo.id%>?_method=DELETE" method="POST">
      <li class="<%= todo.done %>"><%= todo.text %></li>
      <button type="submit">Delete</button>
    </form>
    <!-- Toggle done -->
    <form action="/todo/update/<%= todo._id %>?_method=PUT" method="POST">
      <button type="submit" name="todo[done]">Done</button>
    </form>

  </ul>
  <%}) %>
  <!-- Delete all todos from list -->
  <form action="/todo/delete/all?_method=DELETE" method="POST">
    <button type="submit">DELETE ALL!!!!</button>
  </form>

  <script type="text/javascript" src="../main.js"></script>
</body>

</html>