<%- include('../partials/header') %>
<div class="container">
  <h2>Login</h2>
  <form action="/login" method="POST">
    <div class="form-row align-items-center">
      <div class="col-auto">

        <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Username" name="username" required autofocus>
      </div>
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInputGroup">Username</label>
        <div class="input-group mb-2">

          <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password" name="password" required>
        </div>
      </div>

      <div class="col-auto">
        <button type="submit" class="btn btn-primary user-btn mb-2">Login</button>
      </div>
    </div>
  </form>
</div>





<!-- <section>
  <h2>Login</h2>


  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="name-input" aria-describedby="emailHelp" name="username">

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="password-input" name="password">
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
  </form>

</section> -->
<%- include('../partials/footer') %>