<%- include('../partials/header') %>
<section class="user-form">
  <h1>Login</h1>
  <form action="/login " method="POST">
    <input type="text" name="username" id="" placeholder="Username" autofocus>
    <input type="password" name="password" id="" placeholder="Password" required>
    <input type="submit" value="Login">
  </form>
</section>
<%- include('../partials/footer') %>